
<div class="wrapper">
    <div class="windows">
        <div class="wBall">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>